<div class="form-container" *ngIf="form">
  <h2>{{ isEditMode ? 'Modifier' : 'Ajouter' }} un Rendez-vous</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Patient</mat-label>
      <mat-select formControlName="patientId" required>
        <mat-option *ngFor="let patient of patients" [value]="patient.id">
          {{ patient.nom }} {{ patient.prenom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Personnel</mat-label>
      <mat-select formControlName="personnelId" required>
        <mat-option *ngFor="let personnel of personnels" [value]="personnel.id">
          {{ personnel.nom }} {{ personnel.prenom }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Date et Heure</mat-label>
      <input matInput type="datetime-local" formControlName="dateHeure" required>
    </mat-form-field>


    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Motif</mat-label>
      <input matInput formControlName="motif" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Statut</mat-label>
      <input matInput formControlName="statut" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{ isEditMode ? 'Modifier' : 'Ajouter' }}
    </button>
    <button mat-button routerLink="/rendez-vous">Annuler</button>
  </form>
</div>
