mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px; /* optionnel pour espacer */
}
